.App {
  /* text-align: center; */
}
input{
  color: white !important;
  font-family: 'Mulish' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 23px !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  
}
.navlink{
  text-decoration: none;
  color: white;
  margin: 10px;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Montserrat';
  line-height: 29px;
}

.navlink.stake{
  color: #FAB217;
}
.navlink.reward{
  color: #FAB217;
}

.connectBtn {
  
  border-radius: 25px !important;
  border: 2px solid #FAB217 !important;  

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  font-variant: small-caps;

}

.top-card{
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
  /* background: rgba(46, 114, 210, 0.1); */
  background: #0E215C;
  border: 2px solid #2E72D2;
  border-radius: 5px;
  
}

.top-card .icon-wrapper{
  background: #1E2F64;
  border-radius: 13px;
  margin-top: 3px;
  margin-right: 20px;
  
}
.top-card .icon-wrapper img{
  width: 25px;
  height: 25px;
  padding: 12px 15px;
  
}


.text-0 {  
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.text-1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
}
.stake-option{
  color: #DDD;
  font-size: 10px !important;
  
}
.jbtitle1 {
  font-weight: 400;
  font-size: 32px;
  margin-top: 0;
}

.jbtitle2 {
  font-weight: 800;
  font-size: 18px;
  
}
.jbtitle0{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.jbbodybox {
  margin-top: 50px;
  color: white;
  background: #0E215C;
  border: 2px solid #2E72D2;
  padding: 20px;
  border-radius: 5px;

  font-family: 'Mulish';
  font-style: normal;

  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  
  /* text-align: center; */

}

.jbbodytextfield {
  border: 2px solid #2E72D2;
  color: white !important;
  width: 450px;
}

.jbbodybutton {
  width: 127px !important;
  height: 47px !important;
  
  background-color: #FAB217  !important;
  border-radius: 25px !important;
  color: black !important;

  font-weight: 800 !important;
  font-size: 18px;
  line-height: 23px;

}

.jbbodybutton.stake {
  width: 190px !important;
  height: 47px !important;

  margin-top: 50px !important;
  margin-left: 350px !important;
}

.jbdivider {
  margin-top: 20px !important;
  /* border: solid 1px #2E72D2 !important; */
  background-color: #2E72D2 !important;
}

.jbbodybox2{
  margin-top: 50px !important;
  margin-bottom: 20px !important;
}

.jbbodysubbox {
  margin-top: -20px !important;
}
